
<div>
Cher {{ name }}</div>
<div>
Enregistrement prise en compte. <br/><br/>

Vos informations d'administration sur (<b><a href="http://admin.geoalertinfo.com/login">http://admin.geoalertinfo.com/login</a></b>) <br/>
Nom utilisateur : {{name}} <br/>
Mot de passe : {{pass}} <br/><br/>

Astuce: pour bien recevoir nos offres, ajouter <b>no-reply@geoalertinfo.com</b> dans carnet d'adresse.<br/><br/>

<b>Merci de votre confiance!</b><br/>
<b><a href="http://geoalertinfo.com/">http://geoalertinfo.com/</a></b>
  
</div>